DIM-1/data/raids.dat
DIM-1/data/raids.dat
DIM-1/data/raids.dat
DIM1/data/raids_end.dat
DIM1/data/raids_end.dat
playerdata/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.dat
playerdata/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.dat_old
region/r.-1.-1.mca
region/r.-1.0.mca
region/r.0.-1.mca
region/r.0.0.mca
region/r.-1.-1.mca
region/r.-1.0.mca
region/r.0.-1.mca
region/r.0.0.mca
stats/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.json
level.dat
level.dat_old
data/raids.dat
data/scoreboard.dat
DIM1/data/raids_end.dat
DIM-1/data/raids.dat
playerdata/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.dat
playerdata/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.dat_old
region/r.-1.-1.mca
region/r.-1.0.mca
region/r.0.-1.mca
region/r.0.0.mca
stats/1e57f219-f1e6-4b80-a5fa-8cfd74c8a1a2.json
